<div class="container">
  <h1>Where to go?</h1>
  <div class="alert alert-primary" role="alert">
    <div id="duration">Duration: </div>
    <div id="distance">Distance: </div>
  </div>
  <br>
  <div class="form-group">
    <input placeholder="Enter source location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #pickupInput [formControl]="destinationInput">
    <br>
    <input placeholder="Enter destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #pickupOutput [formControl]="destinationOutput">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <internal-google-map-directions [origin]="origin" [destination]="destination"></internal-google-map-directions>
  </agm-map>
</div>